__pycache__/
*.py[cod]
*.pyd
env/
venv/
.venv/
miniconda3/
envs/
models/
*.safetensors
*.ckpt
*.pth
*.pt
*.bin
*.h5
*.model
.huggingface/
.cache/
.ipynb_checkpoints
*.ipynb
.DS_Store
.vscode/
.idea/
*.log
.env
